@charset "utf-8";
/* CSS Document */
/* ADMIN HEADER MENU CSS */

#adminheader {
	background:#1b4d92;
	height:60px;
}
#adminheader .textfloat {
	float:right;
	margin-top:27px;
	margin-right:20px;
	color:#fff;
	font-family:Trebuchet MS;
	font-size:19px;
}
#adminheader .logoutfloat {
	color:#fff;
	font-family:Trebuchet MS;
	font-size:17px;
	clear:left;
	text-align:right;
}
#adminheader .logoutfloat img {
	margin-top:-5px;
}
#adminheader .logoutfloat a:link {
	margin-top:17px;
	color:white;
	text-decoration:none;
}
#adminheader .logoutfloat a:hover {
	text-decoration:underline;
}
#adminnavi {
	background: url('/dap/images/navi_admin_bkgd.jpg') repeat-x;
	width:100%;
	height: 40px;
}
#nav, #nav ul {
	margin:0;
	padding:0;
	font-size:0.85em;
	list-style-type:none;
	list-style-position:outside;
	position:relative;
	line-height:1.5em;
	margin-left:auto;
}
#nav a {
	font-size: 10.3999996185303px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	display:block;
	padding:11px 15px;/* controller for main menu padding */
	color:#102E56;
	font-weight:bold;
	text-decoration:none;
	background: url('/dap/images/navi_admin_bkgd.jpg') repeat-x;
	z-index:1;
}
#adminnavi li a img {
  margin-top: -7px;
}
#nav ul a, #nav ul li a {
	display:block;
	background:#FFB366 !important;
	z-index:1;
	text-transform:capitalize;
	padding:5px;
	margin-left:5px;
	font-weight:bold;
}
#nav ul a:hover, #nav ul li a:hover {
	background-color:#1B4D92!important;
	color:#fff;
}
#nav a:hover {
	background-color:#fff;
	color:#fff;
}
#nav li {
	float:left;
	position:relative;
}
#nav ul {
	position:absolute;
	display:none;
	width:12em;
	top:2.87em;
}
#nav li ul a {
	width:12em;
	height:auto;
	float:left;
}
#nav ul ul {
	top:auto;
}
#nav li ul ul {
	left:12em;
	margin:0px 0 0 10px; /* controller for nested menu margins */
}
#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul {
	display:none;
}
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul {
	display:block;
}
/* END ADMIN HEADER MENU CSS */ 