<h3><strong>1. Creating a Facebook Application</strong></h3>
<p><strong>i.</strong> Go to <a href="https://developers.facebook.com/apps" target="_blank"><strong>facebook developer page.</strong></a> Create a new app by clicking on the Apps Menu => Create New App.</p>
<p style="text-align: left;"><a target="_blank" href="/dap/docs/socialmedia/facebookapps.png"><img class="aligncenter" src="/dap/docs/socialmedia/facebookapps.png" title="Facebook App" height="177" width="236"></a></p>
<p><strong>ii.</strong> Enter your application name, Category. Click on Create App. Enter the captcha code and proceed.</p>
<p style="text-align: left;"><a target="_blank"  href="/dap/docs/socialmedia/facebookappname.png"><img class="aligncenter" src ="/dap/docs/socialmedia/facebookappname.png" title="Facebook App Name" height="183" width="236"></a></p>
<p>After the app is created, you will now have app id and secret as shown here.</p>
<p style="text-align: left;"><a target="_blank"  href="/dap/docs/socialmedia/appidandsecret.png"><img class="aligncenter" src="/dap/docs/socialmedia/appidandsecret.png" title="App ID and Secret" height="225" width="235"></a></p>
