<p class="bodytext">Enter the URL to your image file. </p>
<p class="bodytext">This is the button that will be used for the buy button, and this is what will be seen on your sales page where you insert the DAP-generated button code.  </p>
<p class="bodytext">If the image is in the root of your site in a folder called <strong>images</strong>, and if the name of the file is <strong>buybutton.jpg</strong>, then enter either...</p>
<p class="bodytext">a) <strong>/images/buybutton.jpg</strong> (relative url)</p>
<p class="bodytext">b) <strong>http://YourSite.com/images/buybutton.jpg</strong> (absolute url)</p>
