<p><span class="bodytext">Enter the full URL to the page.</span></p>

<p><span class="bodytext">You can enter a value in this field only if you choose &quot;<strong>Add To Cart</strong>&quot;. <br />
<br />
1) If you are on DAP 5.0 and have our latest DAPShoppingCart Plugin, then add a NEW Wordpress page using this shortcode: <br /><br />
[DAPCartSummary template ='template1'  cancelimg='/dap/images/cancelgrey.png' continueimg='/dap/images/continueshopping.png' checkoutimg='/dap/images/checkout.png' cartemptymessage=' Sorry, your cart is empty!' cartemptyimage'/dap/images/emptycart.jpg' updatecartmsg=' Are you sure you want to update the quantity?' updatecartsuccessmsg='Updated Successfully. If you have a coupon code, please re-enter it.' couponsuccessmsg='Coupon Code Applied Successfully' ssl='Y'][/DAPCartSummary]
<br /><br />
You can call this page anything you want. Say you call it http://YOURSITE.com/cartsummary. Now save it, and enter the URL of that page here. 
<br /><br />

2) If you are on an older version of DAP and do not have access to our latest DAPShoppingCart Plugin, then create a Wordpress page with the merge tag <strong>%%DAPCARTSUMMARY%%</strong> in the page body, save it, and enter the URL of that page here.

<br /><br />

3) If you are on DAP 5.0, then enter this url if you want a HTML (non-WP) summary page :<br />
https://YOURSITE.com/wp-content/plugins/dapshoppingcart/cartSummary.php
<br /><br />
If your WP blog is in a folder called blog, and you want a HTML (non-WP) summary page, then enter this url:<br />
https://YOURSITE.com/blog/wp-content/plugins/dapshoppingcart/cartSummary.php

<br /><br />
4) If you are on an older version of DAP, and if you want a HTML (non-Wordpress) summary page, then enter this url :<br />
https://YOURSITE.com/dap/CheckoutConfirm.php

<br /><br />
NOTE: Replace YOURSITE.com with the name of your site.	
</span></p>
