<p>Select <strong>&quot;GENERAL SETTINGS</strong>&quot; from the product list, to customize the cart for '<strong>Add-To-Cart</strong>' type of buttons where multiple items can be added to cart prior to checkout. </p>
<p>-OR-<br />
  <br />
  Select the individual product for <strong>Buy Now</strong> or <strong>Subscription</strong> buttons.</p>
