<p><span class="bodytext">If you want the DAP checkout page (where users enter CC, address etc), to have your WordPress theme's look &amp; feel, instead of a basic HTML page's look &amp; feel, then you have 2 options: <br />
<br />
1) If you are on DAP 5.0 and have our latest DAPShoppingCart Plugin, then add a NEW Wordpress page, click on the 'Visual Editor' tab,
you will find a DAP Shopping Cart Editor button, click on the SC button and follow the instructions in the editor to complete the page setup.
You can call this page anything you want. Say you call it http://YOURSITE.com/BuyNow. Now save it, and enter the URL of that page here. 
<br /><br />
2) If you are on an older version of DAP and do not have access to our latest DAPShoppingCart Plugin, then create a Wordpress page with the merge tag <strong>%%DAPCART%%</strong> in the page body, save it, and enter the URL of that page here</span>. </p>

<p><span class="bodytext">Enter the full URL to the page.

<br /><br />

3) If you are on DAP 5.0, then enter this url if you want a HTML (non-WP) checkout page :<br />
https://YOURSITE.com/wp-content/plugins/dapshoppingcart/buynow.php
<br /><br />
If your WP blog is in a folder called blog, and you want a HTML (non-WP) checkout page, then enter this url:<br />
https://YOURSITE.com/blog/wp-content/plugins/dapshoppingcart/buynow.php

<br /><br />
4)If you are on an older version of DAP, and if you want a HTML (non-WP) checkout page, then enter this url:<br />
https://YOURSITE.com/dap/checkout.php

<br /><br />
NOTE: Replace YOURSITE.com with the name of your site.	
</span></p>