<p class="bodytext">You can enter a value in this field only if you choose &quot;<strong>Add To Cart</strong>&quot;.</p>
<p class="bodytext">This field should contain the URL of the page to which you want to take the users to continue shopping after this item is added to the cart. </p>
<p class="bodytext">This could be your &quot;Store Front&quot; page where you have listed all of your products. </p>
<p class="bodytext">This can be the URL of any Wordpress Page. Enter Full URL of the page.</p>
