            <h3>Enable IPN within your Paypal account.</h3>
            <p>DAP can process Paypal payments using Paypal IPN (Instant Payment  Notification).  All you need to basically do is to enable IPN within  your Paypal account and create your Buy button with a few extra  parameters. It's all explained below.
              
              So here's what you need to do to process orders through Paypal using  IPN, and have your buyers automatically added to DAP on your site. </p>
            <p><br>
              a) Log in to your Paypal account and click on the "<strong>Profile</strong>" link. <br>
              b) Go to <strong>Instant Payment Notification</strong> <br>
              <br>
              <strong> <img class="alignnone size-full wp-image-1039" style="border: 1px solid black;" title="paypal_ipn_settings" src="http://www.digitalaccesspass.com/doc/wp-content/uploads/2009/01/paypal_ipn_settings.png" alt="" width="675" height="696" /> </strong></p>
            <p> <strong> </strong>c) If IPN is already enabled, and you already have a URL in that field, then <strong>skip ahead to Step 2</strong>.
              Else, if IPN is not already enabled, then click on "Choose IPN Settings"</p>
            <p> <img class="alignnone size-full wp-image-1040" style="border: 1px solid black;" title="paypal_ipn_settings2" src="http://www.digitalaccesspass.com/doc/wp-content/uploads/2009/01/paypal_ipn_settings2.png" alt="" width="558" height="563" /> </p>
            <p>d) On the next screen, in the <strong>Notification URL</strong> field, enter... <strong>http://YourSite.com/dap/dap-paypal.php</strong> <strong> </strong>Don't forget to replace "YourSite.com" with your actual web site's domain name.
              e) Make sure "Receive IPN Messages" is selected.</p>
            <p> <a href="http://www.digitalaccesspass.com/doc/wp-content/uploads/2009/01/paypal_ipn_settings3.png"><img class="alignnone size-full wp-image-1041" style="border: 1px solid black;" title="paypal_ipn_settings3" src="http://www.digitalaccesspass.com/doc/wp-content/uploads/2009/01/paypal_ipn_settings3.png" alt="" width="548" height="393" /></a> </p>
            <p>f) Click on "Save". </p>
