<p>This is where you generate the &quot;Primary&quot; buy button. This is the button that you put on your sales page, and this is the button that your buyer will click on to make the purchase.</p>
<p>Button code for the &quot;Primary&quot; buy button is different from the code for the &quot;Upsell&quot; buy button. If you want to generate the button code for an Upsell product, then scroll down to the next section on this tab.</p>
