<strong>First button in upsell flow</strong> <br>
<br>
			* This is the main / first button in the upsell flow<br>
            * This button can be for a subscription product or a one-time-purchase product<br>
            * When a user clicks on this button, the buyer is redirected to the paypal page<br>
			* Buyer puts in their paypal email id and password to authenticate to paypal<br>
            * Buyer's main/first order is added-to-cart and the buyer is now redirected back to the 'first upsell page' in the flow<br>
            * Buyer can now click on the upsell button on the upsell page (you can generate the upsell buttons right on this page - check step 3 below) OR click on 'no thanks' button on upsell page (you can generate that 'no thanks' button right on this page - check step 3 below)<br>
            * Buyer clicks on  upsell button and the upsell order is added to cart. User will NOT get transferred to paypal again.<br>
            * If the upsell button is configured for more upsells, then the buyer will be transferred to next upsell page.<br>
            * If it's the last upsell OR if the buyer clicks on 'no, thanks' button, the buyer will land on 'final summary' page where the buyer can VIEW all items added-to-cart.<br>
            * Buyer clicks on 'Final Checkout' button and the purchase transaction is now completed.<br>
			* DAP automatically creates the member account, logs in the user to their membership area, and sends thankyou email with login info to the buyer <br>
			* After purchase, the Buyer will be redirected to whatever you set as the <strong>Payment Success Page</strong>
 when you configure  the 'final summary' page. If you didnot set one, then the buyer will be redirected to 'Post-Login-Redirect' URL configured in DAP.<br> 
 <br>
