<p>This is where you generate both the &quot;Upsell&quot; buy button code, as well as the &quot;No Thanks&quot; button code. </p>
<p><strong>&quot;Upsell&quot; Button</strong></p>
<p>This is the button code that you put on your Upsell pages, which is the page that your buyer reaches AFTER they've purchased either a primary product, or if they're arriving there after having clicked &quot;No, Thanks&quot; on a different Upsell page.</p>
<p>Button code for an &quot;Upsell&quot; product is different from the code for the &quot;Primary&quot; buy button. If you want to generate the button code for a primary product, then scroll up to <strong>Section 2</strong> above.</p>
<p><strong>&quot;No, Thanks&quot; Button</strong></p>
<p>If your buyer wants to skip the Upsell, this is the button you want them to click. This button can be setup to either take them to the next upsell (a.k.a &quot;Downsell&quot;), or you could simply take them to the final &quot;Thank-You&quot; page which simply thanks them for their purchase(s). This final destination page can even be your member home page, the main page for members. Or it can even be a simple &quot;Thank you for your purchase&quot; type of thank you page, which can then have a link to the member's home page.</p>