<p>The reason for making you think about whether this is the last upsell or sale, or if there are other upsells after this, is so that DAP needs to know at which point to delete the buyer's credit card (billing) information from memory.</p>
<p>The buyer's  billing information is stored temporarily and securely in the session, because it is needed for 1-Click Upsells, where the buyer is required to enter their credit card information just the very first time, and for every &quot;Add To Order&quot; upsell after that, the billing information is never asked again, and the data in memory (session) is used for every upsell.</p>
<p>So that brings us to the question: When is the right time to erase the credit card and billing information of the buyer from the session?</p>
<p>Of course, the session information will automatically expire once the user closes their browser, and the encrypted session data is also automatically wiped out by your web host after some time (usually 1/2 hour). </p>
<p>However, for security reasons, you don't want to wait for the data to automatically expire. You want it to be pro-actively erased so that the information is never compromised.</p>
<p>And that's why DAP needs to know if it needs to keep the information in memory for more upcoming Upsells, or if this is the only sale (or last upsell), then it knows to go ahead and delete the billing information from the session.</p>
