<p class="bodytext">* If you selected button type<strong> &quot;Add To Order Upsell Button&quot;</strong>, then this field should contain the URL of the page you want to take the buyer to, if they decide to purchase the upsell product, and the upsell purchase completes successfully.<br />
  <br />
  * If the button type is <strong>&quot;No, Thanks Button&quot;</strong>, then this field should contain the URL of the page to which you want to take the users that do not want to purchase this upsell product. </p>
<p class="bodytext"><strong>NOTE 1</strong>: These can be the full URL of a regular Wordpress Page or Post.</p>
<p class="bodytext"><b>NOTE 2: </b>If you want to offer more upsells, enter the full URL of the next upsell's Sales page  <br/>
</p>
