<p class="bodytext">*If you selected button type<strong> &quot;AddToCart&quot;</strong> above, then this field should contain the URL of the page to which the users will be taken after they hit the FINAL 'Buy NOW' button on the checkout / order confirmation page.
                  If you want to offer upsells after the initial purchase, then set the URL to point to the next upsell page in the flow, or set it to point to say a thankyou page or members area. <br />
                  <br />
*If the button type is <strong>&quot;BuyNow&quot;</strong> above, then this field should contain the URL of the page to which you want to take the users after they purchase the product. It can be the url of upsell page or thankyou page or any Wordpress / html page. </p>
<p class="bodytext"><b>If you want to offer more upsells, enter the full url of the next upsell's sales page </b> <br/>
  <br/>
</p>
