<strong>User Flow - BuyNow</strong> <strong>&amp; Subscription</strong><br>
<br>
 <a href="http://www.digitalaccesspass.com/forums/threads/794-Integration-steps" target="_blank">Paypal Standard Upsell Plugin Flow</a></strong>