<strong>User Flow - BuyNow</strong> <strong>&amp; Subscription</strong><br>
<br>
			* Buyer clicks on the buy button<br>
			* Buyer is taken to checkout page.<br>
			* Buyer puts in their CC info, address, email and other details and completes purchase<br>
			* DAP automatically creates the member account, logs in the user to their membership area, and sends thankyou email with login info to the buyer <br>
			* After purchase, the Buyer will be redirected to whatever you set in <strong>Payment Success Page</strong>
 in your button code.  <br> <br>
 <strong>Note</strong>: You can create a <strong> <a href="http://www.digitalaccesspass.com/doc/creating-member-affiliate-sections-within-wordpress" target="_blank">members area</a></strong> and redirect users to that page upon purchase