<strong>User Flow - AddToCart</strong><br>
<br>
		
			* Buyer clicks on the AddToCart button<br>
			* Buyer is taken to cart summary page. They can see the items in the cart<br>
			* Buyer clicks on the "Continue Shopping" button. They will be taken to whatever you set in <strong>Continue Shopping URL</strong>
<br>
			* Buyer adds another item to cart and is again taken to cart summary page.<br>
			* Buyer now clicks on 'Complete My Purchase' button. <br>
* Buyer is taken to the Checkout page where they can put in their CC info, address, email and other details and when they hit Submit, their purchase is completed.<br>
			* DAP automatically creates the member account, logs in the user to their membership area, and sends thankyou email with login info to the buyer <br>
			* After purchase, the Buyer will be redirected to whatever you set in <strong>Payment Success Page</strong>
 in your button code.  <br> <br>
 <strong>Note</strong>: You can create a <strong> <a href="http://www.digitalaccesspass.com/doc/creating-member-affiliate-sections-within-wordpress" target="_blank">members area</a></strong> and redirect users to that page upon purchase