input.couponbtn {
	color:#000;
	background-color: #C1FFC1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

input.submitbtn {
	color:#000;
	background-color: #C1FFC1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
}

input.resetbtn {
	color:#525252;
	background-color: #EEEEEE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16;
}

#divwp{
	border:#828282 1px solid;
	text-align:center;
	width:100%;
	padding: 10px; 
}

#divnonwp{
	border: #828282 1px solid; 
	width:900px; 
	padding: 10px; 
	text-align:center;
}

.divDesc {
	padding: 0px; 
	font-size: 2px;
	color:#aaaaaa;
	text-align:left;
}

.LabelText {
	font-size: 14px;
	text-align: left;
	float:left
}

.LabelColOrderSummary { 
	text-align: left; 
	font-size: 16px;
	font-weight: bold;
	float:left;
}

.DataColOrderTop,
.DataColTotal
.DataColOrderCenter
{ 
	font-size: 14px; 
	text-align:left 
}

.LabelHeading {
	font-size:18px;
	text-align:center;
	font-weight: bold;
}

.LabelSubTotal {
	font-size:14px;
	font-weight: bold;
}

.LabelTotal {
	font-size:18px;
	font-weight: bold;
}

.SpacerRow1 {line-height:8px; height:8px; }
.SpacerRow2 {line-height:5px; height:5px; }