#errorText {
	color:#F00;
	font-size:14px;
}

legend {
	color:#0b77b7;
	font-size:16px;
	font-weight:bold;
	padding:10px;
}
legend span {
	text-align:right;
}


form#formPayment {
	background:#fff;
	padding:14px;
	margin:15px 15px 15px 15px;
	width:90%;
}


.Comment {
	font-size: 10px;
}

.LabelColOrderTop,
.LabelColOrderBottom,
.LabelColTotal,
.LabelColOrderTopWLI,
.LabelColOrderBottomWLI,
.LabelColTotalWLI,
.LabelColPayBy,
.LabelColCC,
.LabelColBank,
.LabelColBill,
.LabelColShip
{ text-align: left; }

.LabelColOrderSummary 
{ 
text-align: right; 
font-size: 14px;
font-weight: bold;
}

.LabelColTotalSummary 
{ 
text-align: left; 
font-size: 16px;
font-weight: bold;
}


.LabelColOrderTop,
.LabelColOrderBottom,
.LabelColTotal,
.LabelColShip,
.LabelColBill,
.LabelColCC,
.LabelColCaptcha
{ font-size: 14px; }

.LabelColOrderTop
{  font-weight: bold; }

.DataColOrderTop,
.DataColTotal
{ font-size: 14px; }


.LabelColOrderDescr { font-weight: bold; }
.DataColOrderDescr {}

.DataColOrderBottomWLI,
.DataColTotalWLI,
.DescrColOrderBottomWLI
{ text-align: right; }

.LabelColTotal,
.DataColTotal,
.LabelColTotalWLI,
.DataColTotalWLI,
{ font-size:14px; font-weight: bold; width: 100%;}

.DataColTotal,
.LabelColTotal
{ font-size:14px; font-weight: bold; }


.LabelColCC,
.LabelColBill,
.LabelColShip
{ font-weight: bold; }

.Label { 
	font-weight:bold; 
	font-size:14px;
}

.LabelHeading {
	font-size:18px;
	text-align:center;
	font-weight: bold;
}

.tab-box {
  border:1px solid;
  padding: 5px 15px;
  text-decoration:none;
  background-color: #EFEFEF;
}

.Error1 {
    font-size: 14px;
    color: Red;
    background-color: White;
    margin-top: 15px;
    margin-left: 15px;
    text-align:left;
}

.Attention1 {
    font-size: 22px;
    font-weight:600;
    color:Red;
    background-color:White;
    text-align:center;
}

<!-- input.input_text {height: 25px; line-height:15px; font-size:14px;} -->

fieldset div {
	margin:0.3em 0;
	clear:both;
}
fieldset {
	border:1px solid #ddd;
	padding:14px;
}

.date input {
	background-image:url(../gfx/calendar-small.gif);
	background-repeat:no-repeat;
	background-position:100% 50%;
}

.date fieldset label {
	float:none;
	display:block;
	text-align:left;
	width:auto;
}
.date fieldset div {
	float:left;
	clear:none;
	margin-right:0.2em;
}
.radio, .date {
	position:relative;
}
.radio fieldset, .date fieldset {
	border:none;
	width:auto;
	padding:1px 0 0 11em;
}
.radio legend, .date legend {
	font-size:1em;
	color:#000;
}
.radio legend span, .date legend span {
	position:absolute;
	left:0;
	top:0.3em;
	width:10em;
	display:block;
}
.radio label, .radio input {
	vertical-align:middle;
	display:inline;
	float:none;
	width:auto;
	background:none;
	border:none;
}
.radio div {
	float:left;
	white-space:nowrap;
	clear:none;
}

.email {
	width:14em;
}

input.default {
	color:#bbb;
}

#submit-go {
	margin-top:1em;
	width:69px;
	height:26px;
	text-indent:-9999px;
	overflow:hidden;
	border:0;
	background:url(../gfx/submit-button.gif) no-repeat 0 0;
	display:block;
	cursor:pointer !important; cursor:hand;
}
#submit-go:hover {
	background-position:0 -26px;
}

input.submitbtn {
	color:#000;
	background-color: #C1FFC1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
}

input.resetbtn {
	color:#525252;
	background-color: #EEEEEE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16;
}
