Please NOTE: 
<br>When you click on this link, a new window will open up containing an AWeber authorization form. 
<br>Enter your AWeber credentials, then click the Allow Access button. 
<br>You will be taken to an Aweber page with an authorization code. 
<br>Copy the autorization code and come back to this page and enter it in the textbox below.  