<p><strong>GROUP 1</strong></p>
<p><strong>All Users</strong> <strong>(Active And Opted-In) </strong>
  <br />
  Sends email to all users, regardless of product, where : <br />
- user status is Active ('A')<br />
- user is still opted in to receiving email (opted_out = 'N')</p>
<p><strong>Users with Access To No Products</strong><br />
Sends email to users where:<br />
- user has access to NO products at all (won't be included if they have access to even 1 product)<br />
- user status is 'A' (Active)<br />
- user is still opted in to receiving email (opted_out = 'N')<br />
</p>
