<p><strong>GROUP 3</strong></p>
<p> This allows you to choose multiple options when sending out a broadcast email.</p>
<p>To select multiple items from the first- or second column, hold down &quot;Ctrl&quot; (or &quot;Cmd&quot; for Mac users) while clicking on the option. &quot;Ctrl&quot; + &quot;Click&quot; (or &quot;Cmd&quot; + &quot;Click&quot; for Mac) to <strong>un-select</strong> an option.</p>
<p>You can choose <strong>users of which products</strong> should get the email, and filter this list further by list of <strong>products that those users do NOT have access to</strong>, and also by <strong>Access End Date</strong>,<strong> User Status </strong>and <strong>Email Optin Status</strong></p>
<p>So you could do something like...</p>
<p>Send email to:</p>
<ul>
  <li>Users having access to both <strong>Product 1 and 2</strong> (select Products 1 &amp; 2 from first column)</li>
  <li>But <strong>not to Product 3</strong> (select Product 3 from second column)</li>
  <li> User's access to each Product (from column 1) is &quot;Active&quot;</li>
  <li>User's own status (regardless of Product) is &quot;Active&quot; (so they're not Unconfirmed, Locked out, etc)</li>
  <li>They're still Opted-In to receive emails</li>
</ul>
<p>Don't select contradicting Products (eg., Send email to Users with access to Product 1 but not having access to Product 1 - that would result in email sent to no users :-)</p>
