<h3>Credit Store Master Product</h3>
<p>1. The product that the users buy to earn credits is what we refer to as <strong>MASTER</strong> product.</p>
<p>2. You can give any name to the product (does not have to be called ‘master’).</p>
<p>3.   Each product that needs to serve as master needs to be designated as   Credit Store Master in DAP products page OR in DAP Admin-&gt;Credit   Store-&gt;Storefront Settings page.</p>
<p>4. After you create the   product, designate it as master and complete the rest of the product   setup (price, content dripping etc) in DAP Admin -&gt; Products page.   All other settings for master needs to be completed in DAP   admin-&gt;Credit Store-&gt;Storefront Settings page.</p>
<p><strong>5. Different Types of Master</strong></p>
<ul>
  <li>Master   product can be a regular DAP subscription product with content dripping   that also allows users to earn credits per payment. Users can earn   initial credits followed by recurring credits OR</li>
  <li>Master product   can be a dummy subscription product with no dripping just created to   allow users to purchase credits for cash and then the users can go to   the store to spend the earned credits. Users can earn initial   credits followed by recurring credits OR</li>
  <li>Master product can be a   regular DAP one-time purchase product with content dripping that also   allows users to earn credits per payment OR</li>
  <li>Master product can   be a FREE DAP product with credits attached so when the users signup to   the product, they are rewarded with credits.</li>
</ul>
<p>6. The buyers get the credits right away upon purchase or upon signup.</p>
<p><strong>IMPORTANT :</strong> Please make sure to visit the DAP Admin -&gt; Credit Store -&gt; Store   Front Settings page to assign credits to the Master product and complete   rest of the master product setup.</p>