<p>Optional.</p>
<p>When a user purchases (or signs-up for) this Product, DAP will send a quick alert email to any email id's specified in this field. <br />
  Example: <strong>you@yoursite.com</strong></p>
<p>So you could enter your own email id here, to be notified of any new signups/sales. If you wish to enter multiple email id's here, just separate them by a comma - no spaces in between. <br />
  Example: <strong>you@yoursite.com,assistant@yoursite.com,partner@gmail.com</strong></p>
<p>The notification email sent, will look like this: </p>
<p><strong>Subject</strong>: <br />
New User Signup (3rd Party Notification) </p>
<p><strong>Body</strong>:  <br />
  Name: Joe Customer <br />
  Email: joe.customer@example.com
  <br />
Product: FaceBook Secrets - Platinum </p>
<p>And it will be sent using the name of the new member as the &quot;From Name&quot; and their email id as the &quot;From Email&quot; of this alert email.</p>
<p>There is a reason for that: This is the exact same email that also goes to, say, your Aweber list, and that's how Aweber knows who to add to which list. So this field is also used for automatically <a href="http://www.digitalaccesspass.com/doc/aweber-integration/" target="_blank">adding your new member to an Aweber list</a>, for example.</p>
<p>If you leave this field <em>blank</em>, then no alert emails will be sent at all.</p>
