<p>&quot;Allow Free Signups?&quot; should be set to &quot;Yes&quot; if....</p>
<p>1) This is a free product, and you wish to publish a DAP-generated free signup form to sign up people for free to this Product, say, so you can get their email address and market to them via email.</p>
<p>- OR -</p>
<p>2) This is a paid product, BUT you will still be publishing a free sign-up form just so people can sign up themselves for your paid product. If you wish to reduce the number of people signing up for this paid product via a form, then you can make it a bit more restrictive by requiring them to enter a valid coupon code during sign up (something you would've created in advance, of course).</p>
<p>- OR -</p>
<p>3) If you're not sure, just simply select &quot;No&quot; for now and you can revisit this later.</p>
