<p>Default: <strong>/dap/product-error.php</strong></p>
<p><strong>IMPORTANT</strong>: DO NOT protect whatever page's URL you enter here in this field (whether using default error page, or your own custom error page) as part of ANY DAP Products. It is important that this page remain &quot;open&quot; and publicly available to casual visitors as well as members who may not yet have logged in.</p>
<p>If you leave this is at the above default value (<strong>/dap/product-error.php</strong>), or if you make this field blank (empty), or if Sneak-Peek is set to &quot;Y&quot;, then DAP's &quot;<a href="http://www.digitalaccesspass.com/doc/customizing-error-messages-on-protected-pages/" target="_blank">In-Page Error Message</a>&quot; will be displayed</p>
<p>If you don't want an in-page error message, and want the user to be redirected to your own custom error page (say, where you may have some sales copy, explain what their options are, provide buy buttons etc), then put the URL of your custom error page here: Eg., http://YourSite.com/error/ . Of course, make sure you create this error page first, and be sure to test whatever custom URL you put into this field to make sure the page is active and available. Also, be sure to make Sneak-Peek is set to &quot;N&quot;.</p>
<p><strong>NOTE</strong>: If Sneak-Peek is set to &quot;Y&quot;, then <strong>no redirection will happen</strong>, and DAP will show the &quot;<a href="http://www.digitalaccesspass.com/doc/customizing-error-messages-on-protected-pages/" target="_blank">In-Page Error Message</a>&quot;.</p>
