<p>If you wish to send out HTML email, then you must enter this text before you paste any HTML code into the email.</p>
<p>Doc: <a href="http://www.digitalaccesspass.com/doc/sending-html-email/" target="_blank">Sending HTML Email</a></p>
