<p>These are the merge-tags that you may insert into outgoing emails sent using the DAP email system.</p>
<p>Doc: <a href="http://digitalaccesspass.com/doc/merge-tags-for-email/" target="_blank">Merge Tags for Email</a></p>
