<p>This is the field where you can specify any DAP plugins that you wish to &quot;run&quot; when a new user is added or removed to this product.</p>
<p>Example: See the <a href="http://www.digitalaccesspass.com/doc/mailchimp-integration/" target="_blank">DAP/MailChimp</a> plugin or the <a href="http://www.digitalaccesspass.com/doc/getresponse-integration/" target="_blank">DAP/GetResponse</a> plugin</p>
