<p>This is the URL to which a user is redirected to, right after they log in, if...</p>
<p>1) Access to <strong>this product</strong> has expired, </p>
<p>AND</p>
<p>2) <strong>Setup &gt; Config &gt; Redirect Expired Users to Renewal Page Upon Login?</strong> has been set to &quot;<strong>Y</strong>&quot;</p>
<p>&nbsp;</p>
<p>However, if the user has access to multiple products, and access to more than one of those products has expired, then they will be redirected to the equivalent global field at <strong>Setup &gt; Config &gt;</strong> <strong>Post-Expiration Renewal Redirect URL (Global)</strong> right after they log in.</p>
<p><strong>WARNING</strong>: For any kind of renewal redirection to take effect upon log in, you must also set <strong>Setup &gt; Config &gt; </strong><strong>Redirect Expired Users to Renewal Page Upon Login?</strong> to &quot;<strong>Y</strong>&quot;</p>
<p><strong></strong></p>
