<h3><strong>You MUST  set the &quot;Recurring Price&quot; / &quot;One-Time Price&quot; field in DAP only if...</strong></h3>
<p>1) You are selling via <strong>Paypal</strong>, and are going to be using DAP-generated Buy Buttons</p>
<p>2) You are selling via <strong>Authorize.net</strong> or <strong>Paypal Website Payments Pro </strong><br />
</p>
<hr />
<h3><strong><br />
  You DO NOT have to enter anything in this &quot;Recurring Price&quot; / &quot;One-Time Price&quot; field in DAP  if...</strong></h3>
<p>1) You are selling via <strong>Paypal</strong>, BUT are going to be using Paypal-hosted Buy Buttons (generated from within your Paypal account)</p>
<p>2) You are selling via any of the other supported external carts like:<br />
  1ShoppingCart, 1SiteAutomation, e-Junkie, etc.
<strong></strong></p>
<p>So in this case, you can just leave the price at whatever price you want. DAP will ignore it. DAP will blindly accept the price provided by the external cart or payment processor you're using.</p>
