<p><strong>NOTE</strong>: This field is currently <strong>used only by the Paypal Upsell-Tree Plugin</strong>. If you are not using that plugin, then you may leave this field blank.</p>
<p>If you are using the Paypal Upsell-Tree plugin, then in this field, enter the full URL to your product image. </p>
<p>Example: <strong>http://YourSite.com/images/product-image.jpg</strong></p>
<p>The image you enter here will be used by the Paypal Upsell-Tree Plugin on the checkout summary page when showing all of the items about to be purchased by the buyer.</p>
