<p>If your &quot;Initial Price&quot; is same as the &quot;Recurring Price&quot;, then whatever that amount is, enter it here.</p>
<p>If &quot;Initial Price&quot; is different from &quot;Recurring Price&quot;, then enter the &quot;Recurring Price&quot; in this field, and the &quot;Initial Price&quot; now becomes &quot;Trial Price&quot;. (It doesn't matter if you don't think of it as a trial)</p>
<h3><strong>Example Settings</strong></h3>
<p><strong>Your monthly recurring is $97, With No Trial</strong><br />
Set this field &quot;Recurring Price&quot; field to 97.00 <br />
Set &quot;Trial Price&quot; 
to <em>blank</em> or 0.00 </p>
<p><strong>Your monthly recurring is $97, With a $1 Trial</strong><br />
  Set  this field &quot;Recurring Price&quot; field to 97.00<br />
  Set &quot;Trial Price&quot; 
  to 1.00 </p>
<p><strong>You wish to offer a FREE trial, followed by monthly payments of $97</strong><br />
  Set this field &quot;Recurring Price&quot; field to 97.00<br />
  Set &quot;Trial Price&quot; 
to 0.01</p>
<p>The reason for setting trial price to 0.01 for a free trial, is that DAP does not allow for fully free trials. You must charge at least 1 penny, because if you do 0.00, then in the case of merchant accounts, the credit card of the buyer is never validated, so come recurring time, the card may fail to be charged.</p>