<p><span class="bodytext">This is <strong>in addition</strong> to the initial order or trial</span> (if there's a trial)</p>
<h3><strong>Set the &quot;Recurring Count&quot; in DAP only if...</strong></h3>
<p>1) You are selling via <strong>Paypal</strong>, and are going to be using DAP-generated Buy Buttons</p>
<p>2) You are selling via <strong>Authorize.net</strong> or <strong>Paypal Website Payments Pro </strong></p>
<hr />
<h3><strong> You DO NOT have to enter anything in this &quot;Recurring Count&quot; field in DAP  if...</strong></h3>
<p>1) You are selling via <strong>Paypal</strong>, BUT are going to be using Paypal-hosted Buy Buttons (generated from within your Paypal account)</p>
<p>2) You are selling via any of the other supported external carts like:<br />
  1ShoppingCart, 1SiteAutomation, e-Junkie, etc. <strong></strong></p>
<p>So in this case, you can just leave the price at whatever price you want. DAP will ignore it. DAP will blindly accept the price provided by the external cart or payment processor you're using.</p>
<hr />
<h3><strong><span class="bodytext">Example settings:</span></strong><span class="bodytext"></span></h3>
<p><span class="bodytext">* No trial, monthly recurring, keep charging until customer cancels</span> (Unlimited-recurring)<br />
<span class="bodytext">Set to  <strong>9999</strong></span></p>
<p>* No trial, 6 total payments in TOTAL<br />
  Set to <strong>5</strong><br />
(because the initial order will be 1, plus 5 recurring. So 1 (today) + 5 (Recurring) = 6 Payments in TOTAL</p>
<p>* 30-day trial, only 6 total payments in TOTAL including trial<br />
Set to <strong>5</strong><br />
(because the initial trial will be counted as 1, plus 5 recurring. So 1 (today) + 5 (Recurring) = 6 Payments in TOTAL</p>
<p><span class="bodytext">* </span>7-day trial, followed by 6 monthly payments<br />
Set to <strong>6</strong></p>
<p>* 30-day trial followed by 12 payments<br />
  Set to <strong>12</strong></p>
<p>* 30-day trial followed by 11 payments<br />
Set to <strong>11</strong></p>
