<h3>Example Settings</h3>
<p><strong>Monthly recurring, with no trial (or 30-day trial):</strong></p>
<p><strong>Recurring Cycle  #1</strong>: 30<br />
  <strong>Subsequent Recurring Cycles</strong>: 30<br />
<strong></strong></p>
<p><strong>Monthly recurring, starting with 7-day trial</strong></p>
<p><strong>Recurring Cycle  #1</strong>: 7<br /> 
  <strong>Subsequent Recurring Cycles</strong>:<strong> </strong>30<br />
</p>
<h3><strong>Explanation</strong></h3>
<p>When someone subscribers to your recurring product, you know that you will receive a first payment, a second payment, a third-payment, a fourth payment, etc. If you have unlimited recurring, then you will get payments forever, until they cancel.</p>
<p>So just think of the first 2 payments as follows:</p>
<p><strong>Recurring Cycle #1</strong> (happens at the time of purchase/signup)</p>
<p><strong>Subsequent Recurring Cycles</strong> (payment comes in after how many days?)</p>
<p>So when someone first subscribes to- or buys- your product, however many number of days you wish to give them access, enter that number into <strong>Recurring Cycle #1</strong>.</p>
<p>When their next payment comes in, however many number of days you wish to give them access, enter that number into <strong>Subsequent Recurring Cycles</strong>.</p>