<p>(Optional field) </p>
<p>Any HTML you enter into this field, will show up on the &quot;My Content&quot; page where you have inserted the merge tag <strong>%%USERLINKS%%</strong> - or DAP Shortcode <strong>[DAPUserLinks]</strong>.</p>
<p><img src="/dap/docs/images/renewal-html.jpg" alt="DAP Renewal HTML" width="400" height="375" border="1" /></p>
<p>Sample HTML code: </p>
<blockquote>
  <p><strong>&lt;div class=&quot;dap_product_heading&quot;&gt;EXPIRED&lt;/div&gt;<br />
    &lt;h3&gt;Your access to this product has expired. Please &lt;a href=&quot;http://DigitalAccessPass.com/&quot;&gt;click here to renew&lt;/a&gt;.&lt;/h3&gt;</strong></p>
</blockquote>
