<p><strong>IMPORTANT</strong>: DO NOT protect this page as part of ANY DAP Product. It is important that this page remain &quot;open&quot; and publicly available to casual visitors and non-members.</p>
<p>If user has not purchased or signed up for this this product, and tries to access a page or post that is part of this product, the <a href="http://www.digitalaccesspass.com/doc/customizing-error-messages-on-protected-pages/" target="_blank">Standard DAP in-page error message</a> will show a link to this sales page URL where user can purchase this product and get access to this content.</p>
