<p>Required only if you are offering a trial period.</p>
<p>OR if your <strong>Initial Price</strong> is different from <strong>Recurring price</strong>. </p>
<p>If you have no trial, or if Initial price and Recurring price are the same, then leave this empty or set it to 0.00.</p>
<h3><strong>Set the &quot;Trial Price&quot; in DAP only if...</strong></h3>
<p>1) You are selling via <strong>Paypal</strong>, and are going to be using DAP-generated Buy Buttons</p>
<p>2) You are selling via <strong>Authorize.net</strong> or <strong>Paypal Website Payments Pro </strong></p>
<hr />
<h3><strong>  You DO NOT have to enter anything in this &quot;Trial Price&quot; field in DAP  if...</strong></h3>
<p>1) You are selling via <strong>Paypal</strong>, BUT are going to be using Paypal-hosted Buy Buttons (generated from within your Paypal account)</p>
<p>2) You are selling via any of the other supported external carts like:<br />
  1ShoppingCart, 1SiteAutomation, e-Junkie, etc. <strong></strong></p>
<p>So in this case, you can just leave the price at whatever price you want. DAP will ignore it. DAP will blindly accept the price provided by the external cart or payment processor you're using.</p>
<hr />
<h3><strong>Example Settings</strong></h3>
<p><strong>Your monthly recurring is $97, With No Trial</strong><br />
Set this field &quot;Trial Price&quot; 
to <em>blank</em> or 0.00 <br />
Set &quot;Recurring Price&quot; field to 97.00
</p>
<p><strong>Your monthly recurring is $97, With a $1 Trial</strong><br />
  Set this field &quot;Trial Price&quot; 
to 1.00 <br />
Set &quot;Recurring Price&quot; field to 97.00 </p>
<p><strong>You wish to offer a FREE trial, followed by monthly payments of $97</strong><br />
  Set this field &quot;Trial Price&quot; 
to 0.01<br />
Set &quot;Recurring Price&quot; field to 97.00 
</p>
<p>The reason for setting trial price to 0.01 for a free trial, is that DAP does not allow for fully free trials. You must charge at least 1 penny, because if you do 0.00, then in the case of merchant accounts, the credit card of the buyer is never validated, so come recurring time, the card may fail to be charged.</p>