<p>For details about integrating with 1ShoppingCart (1SC) or <a href="http://1SiteAutomation.com" target="_blank">1SiteAutomation</a> (1SA - our private label of 1SC), see the following links...</p>
<p>Doc: <a href="http://www.digitalaccesspass.com/doc/payment-processing-via-email/" target="_blank">1SC Email Order Processing</a></p>
<p>Doc: <a href="http://www.digitalaccesspass.com/doc/dap-1sc-login-xpress/" target="_blank">1SC Login Xpress</a> (for autologging your members after purchase)</p>