<p>For details about integrating with Authorize.net, see the following links...</p>
<p>READ FIRST: <a href="http://www.digitalaccesspass.com/doc/dap-shopping-cart-and-upsell-tree-plugin-summary/" target="_blank">DAP as a Shopping Cart</a></p>
<p>Doc: <a href="http://www.digitalaccesspass.com/doc/upsell-tree-1click-upsells-downsells-otos/" target="_blank">DAP Shopping Cart with Authorize.net</a></p>