<p>If you set this to &quot;Y&quot;, then <strong>ALL WordPress Administrators</strong> (only those with &quot;WP Admin&quot; privileges) will <strong>automatically be logged in as DAP Admin</strong> too when they log in as WP Admin.</p>
<p>This means that if you have setup in-house or outsourced employees to be a WP admin to help you with your content and set up of your blog, they will now be logged in as DAP Admin as well, and will be able to perform all DAP Admin functions.</p>