<p>DAP Admin cannot view user's current password.</p>
<p>You may however change user's current password by clicking on the &quot;Change Password&quot; link.</p>
<p>To log in as a user, in a separate browser (where you are not logged in as WP Admin or DAP Admin), go to the following link:</p>
<p><strong>http://YourSite.com/dap/loginAs.php</strong></p>
<p>On that page, you can log in as a regular User, by entering their email id, and DAP Admin email and password.</p>
