<p>Set this to &quot;Y&quot; if you want to disable Syncing for EXPIRED users.</p>
<p>Setting this to &quot;Y&quot; means that those users whose access has expired for at least one product, will not be synced with WordPress. Which means, they won't be automatically logged in to WordPress when they log in to DAP, which means they won't be recognized automatically when trying to comment on your posts/pages, and they won't be able to log in to any WordPress plugin that relies on the user data being within WordPress - like Simple:Press or bbPress (both forum plugins).</p>
<p><strong>NOTE</strong>: This setting DOES NOT matter if you have set &quot;<strong>Allow Access To Previously Paid For Content</strong>&quot; to &quot;Y&quot; - because that means that even if they have expired, you want them to continue to have access to the content that they have already paid for even after they cancel their subscription. So it's only fair then, that they also keep forum and commenting access even if they have expired. So, to summarize, if <strong>Allow Access To Previously Paid For Content</strong> is set to &quot;Y&quot;, then it does not matter what this setting is - users will continue to be synced even if their access has expired to one or more products.</p>
<p><a href="http://www.digitalaccesspass.com/doc/wordpress-user-sync/" target="_blank">Documentation: Wordpress User Sync</a></p>
