<p>If this is set to &quot;N&quot; (default), then when DAP syncs the DAP user to WordPress, and if they haven't selected a &quot;Username&quot; in their DAP User Profile page, then it will use &quot;FirstnameLastname&quot; combination to be their &quot;Username&quot; in WordPress. Which means, when they log in to DAP, they'll automatically be synced and logged in to WordPress too, and when they try to comment on your pages or posts, or try to access your WordPress-based forum plugin (like Simple:Press), then their WordPress user name will be &quot;FirstnameLastname&quot; (eg., JoeCustomer).</p>
<p>If this is set to &quot;Y&quot;, then your member must first go to their DAP User Profile page, and select a &quot;Username&quot; first, before they are synced to WordPress.</p>
<p><strong>Why even provide this option to DAP Admins?</strong></p>
<p>Some DAP users run potentially controversial and litigous web sites (eg., a political commentary or religion-based web site), and they don't want DAP to automatically take the first name and last name of the member, and create a username out of it automatically, because they feel that because of the controversial nature of their web site, their members may not be comfortable in revealing their real first or last name, and would want to use their own custom username when commenting on content or participating in forums. So if you want your members to have that control, then you don't mind them having to go through one extra step in creating their username first before they can participate in your community. In that case, set this to &quot;Y&quot;.</p>
<p>But if you don't care about that, and the niche that your web site is in doesn't call for such identity issues, then set it to &quot;N&quot; so that your members will instantly be logged in to WordPress too when they log in to DAP, and don't have to first create their username before participating in your community.</p>
<p><a href="http://www.digitalaccesspass.com/doc/wordpress-user-sync/" target="_blank">Documentation: Wordpress User Sync</a></p>
