<p>DAP has its own User database, and doesn&rsquo;t use the WordPress User database &ndash; for many reasons including (but not limited to) the following&hellip;</p>
<p>1) Ability to store more user information than what WordPress allows</p>
<p>2) More powerful user search, profile updates, affiliate information, etc.</p>
<p>3) Insulating your member information from potential issues arising out of conflicts or changes in new WordPress releases. </p>
<p>So, if you want to use any WordPress based plugins &ndash; like WordPress-based Forums (bbPress or Simple:Press), Subscribe2Blog, or want your logged-in members to comment on your blog posts or pages and have WP recognize them automatically, then you need to set this to &quot;Yes&quot;.</p>
<p><a href="http://www.digitalaccesspass.com/doc/wordpress-user-sync/" target="_blank">Documentation: Wordpress User Sync</a></p>
