<p>Set this to &quot;Y&quot; if you want DAP to sync user data to WordPress <strong>only for PAID users</strong>. </p>
<p>Which means, free users who have not purchased ANY products, will never be synced with WordPress. Which means, they won't be automatically logged in to WordPress when they log in to DAP, which means they won't be recognized automatically when trying to comment on your posts/pages, and they won't be able to log in to any WordPress plugin that relies on the user data being within WordPress - like Simple:Press or bbPress (both forum plugins).</p>
<p>NOTE: This matters only if <strong>Sync DAP User Data</strong> is set to &quot;Yes&quot; in the first place.</p>
<p><a href="http://www.digitalaccesspass.com/doc/wordpress-user-sync/" target="_blank">Documentation: Wordpress User Sync</a></p>
