<p>There are many emails that DAP sends out, including, but not limited to...</p>
<ul>
  <li> Double-optin &amp; Thank-you emails to new members</li>
  <li>Admin notification emails on new sign-ups</li>
  <li>Error notification emails to Admin</li>
  <li>Autoresponder emails</li>
  <li>Broadcast emails</li>
</ul>
<p>All of these emails are sent from your web host's local email system (a.k.a <em>mail server</em>).</p>
<p>Whatever you enter into the &quot;<strong>From Name</strong>&quot; and &quot;<strong>From Email</strong> <strong>Id</strong>&quot; fields here, is what is used to send those emails as.</p>
