<p>This is the URL to which the User is redirected to, right after log in. </p>
<p><strong>Default</strong>: <strong>/dap/index.php</strong> . </p>
<p>This is a <strong>global setting</strong>. You can also over-ride this at a Product level, by modifying the &quot;Post-Login URL&quot; on the Product page.</p>
