<p>This is the Global Error Page URL to which the visitor is redirected to, if the content being visited is part of multiple products.</p>
<p>NOTE: This is used only if DAP cannot figure out, at a product level, as to which error page URL to choose when the page or post being accessed is part of multiple DAP products.</p>
<p>This is a <strong>global setting</strong>. You can also over-ride this at a Product level, by modifying the &quot;Sales Page URL&quot; on the Product page.</p>
