<p>When a user is visiting a page that she does not have access to, the DAP error message (with the DAP &quot;Lock&quot; image) is shown, which says &quot;Click here to get access&quot;. That text &quot;Click here to get access&quot; will link to this Global Sales Page URL.</p>
<p>NOTE: This is used only if DAP cannot figure out, at a product level, as to which sales page URL to choose when the page or post being accessed is part of multiple DAP products.</p>
<p>This is a <strong>global setting</strong>. You can also over-ride this at a Product level, by modifying the &quot;Sales Page URL&quot; on the Product page.</p>
