<p>You need a valid license key to use the DAP Admin Dashboard.
  
  </p>
<p>To get your license key, log in to the DigitalAccessPass.com member's area at <a href="http://DigitalAccessPass.com/dap/" target="_blank">DigitalAccessPass.com/dap/</a> , click on the "<strong>Click here to get your DAP License Key</strong>" link, copy the "License Key" displayed on the next page, and enter it here.</p>
<p>And save it.</p>
