<p><strong>[WARNING: This should be the URL to a public page. DO NOT put in the URL of a protected page here.</strong>]</p>
<p>This is the URL to which the User is redirected to, right after logging out.</p>
<p><strong>Default</strong>: <strong>/</strong></p>
<p><strong>/ </strong>means your home page</p>
<p>You may also enter a full URL here, like <strong>http://YourSite.com</strong></p>
<p>Or if you wish to take them to another site of yours when they log out, you may enter that URL too here - like <strong>http://MyOtherSite.com</strong></p>
<p>Documentation: <a href="http://www.digitalaccesspass.com/doc/logout-link/" target="_blank" mce_href="http://www.digitalaccesspass.com/doc/logout-link/">Where is the Logout Link?</a></p>
<p>&nbsp;</p>
