<p><strong>[WARNING: This is the page where your members will log in. DO NOT Protect this page as part of any DAP Product</strong>]</p>
<p>This is the actual link to your login page. This could be ...</p>
<p>a) URL of a stand-alone login page that you create with the DAP merge-tag <strong>%%LOGIN_FORM%%</strong> - like http://YourSite.com/login-page/ , or</p>
<p>b) URL of your home page, if you are using our Login/Logout widget on the sidebar - like http://YourSite.com</p>
<p>Whichever it is, make doubly sure that such a page actually exists before entering it here.</p>
<p>Just in case you end up putting a wrong link in here, and are unable to get to your custom login page within WordPress, please note that DAP also provides you with a basic, &quot;back-door&quot; login page that you can use to log in under such circumstances. </p>
<p>For that, just go to <a href="/dap/login.php" target="_blank">/dap/login.php</a> (opens in new window).</p>
<p><a href="http://www.digitalaccesspass.com/doc/creating-a-login-page-within-wordpress/" target="_blank">Documentation: Stand-alone Login page</a></p>
<p><a href="http://www.digitalaccesspass.com/doc/loginlogout-widget/" target="_blank">Documentation: Login/Logout Widget</a></p>
