<p><strong>Log Only Errors</strong> <br />
  (recommended setting for live web sites)<br />
  <br />
  <strong>Log All Activity</strong><br />
  To be used <em>only</em> when troubleshooting. </p>
<p>This setting is mainly used by the DAP Support Team if required to troubleshoot your setup during installation. Set this to <strong>Log Only Errors</strong> at all times - <em>except</em> during initial setup and testing, when it should be set to <strong>Log All Activity</strong>, which will help during troubleshooting.</p>
<p>These activity/error logs can be viewed by going to &quot;<strong>System &gt; Logs</strong>&quot;<br />
</p>
