<p>For details about integrating with Paypal, see the following links...</p>
<p><strong>Paypal Standard</strong></p>
<p>READ FIRST: <a href="http://www.digitalaccesspass.com/doc/paypal-integration-summary/" target="_blank">Paypal Standar Integration Summary</a></p>
<p>Doc: <a href="http://www.digitalaccesspass.com/doc/integrate-dap-generated-buttons-with-paypal/" target="_blank">Using DAP-Generated Paypal Buy Buttons</a></p>
<p>Doc: <a href="http://www.digitalaccesspass.com/doc/setting-up-your-paypal-button-and-paypal-ipn/" target="_blank">Using Paypal-Hosted Buy Buttons</a></p>
<p>Doc: <a href="http://www.digitalaccesspass.com/doc/1-click-upsells-with-paypal-standard/" target="_blank">DAP Shopping Cart &amp; 1-Click Upsells with Paypal Standard</a></p>
<p><strong>Paypal Payments Pro</strong></p>
<p>Doc:<a href="http://www.digitalaccesspass.com/doc/1-click-upsells-paypal-website-payments-pro/" target="_blank"> DAP Shopping Cart &amp; Upsells with Paypal Payments Pro</a></p>
<p>&nbsp;</p>
