<p>Normally if you - the DAP Admin - first log in to WordPress Admin, then click on the &quot;Digital Access Pass&quot; link in the WordPress admin menu on the left, you will be redirected to the DAP Admin Dashboard.</p>
<p>But let's say you have set &quot;<strong>Auto-login ALL WordPress Admins as DAP Admin?</strong>&quot; to &quot;No&quot;.</p>
<p>Now when you click on the &quot;Digital Access Pass&quot; link in the WordPress admin menu on the left, you will be presented with the default DAP login form (http://YourSite.com/dap/login.php). You may have done this because you don't want your staff or other WordPress admins to access the DAP admin dashboard. So when you enter the DAP admin's email and password on this login form, since you are both a DAP admin as well as one of the users in your system, where should DAP redirect you to?</p>
<p>1) Do you wish to be redirected to the DAP Admin Dashboard (just because you are the DAP Admin)?</p>
<p>OR...</p>
<p>2) Do you wish to be redirected to your regular member's area as if you are just another user?</p>
<p>That's what this field allows you to configure.</p>
<p>So, this is the URL to which the DAP Admin user is redirected to, right after they log in, if s/he logs in directly from a DAP login form on your web site.</p>
<p><strong>Summary</strong></p>
<p>1) If you set this to &quot;<strong>DAP Admin Home</strong>&quot;, then you will be redirected to the DAP Admin Dashboard.</p>
<p>2) If you set this to &quot;<strong>Member Post-Login URL</strong>&quot;, then you will be redirected to your regular member's area as if you are just another user.</p>
