<p>  This is the URL to which a user is redirected to, right after they log in, if MORE THAN ONE of the products that they have access to, have expired.</p>
<p>If access to ONLY ONE of the products has expired, DAP will take the <strong>Post-Expiry Renewal Redirect URL</strong> at the Product level.</p>
<p><strong>WARNING</strong>: For renewal redirection to take effect, you must also set &quot;<strong>Redirect Expired Users to Renewal Page Upon Login?</strong>&quot; to &quot;<strong>Y</strong>&quot;.</p>
<p><strong></strong></p>
