<p>Default: <strong>/dap/unsubscribed.php</strong><br />
  <br />
  This is the URL to which a user is redirected to, right after they click on the unsubscribe link at the bottom of your emails sent via DAP.</p>
<p><strong>TIP</strong>: You can automatically insert an &quot;Unsubscribe&quot; link at the bottom of every autoresponder, broadcast and welcome email sent by DAP, simply by inserting the text <strong>%%UNSUB_LINK%%</strong> as the last line of your email body.</p>