<p><strong>Default</strong>: N<br />
  <br />
  This setting is what enables redirection to renewal URL upon logging in.</p>
<p>If you set this to &quot;<strong>Y</strong>&quot;, then make sure you also set the actual &quot;<strong>Post-Expiration Renewal Redirect URL (Global)</strong>&quot; below.</p>