 <p>This field is only used to calculate when a purchase is actually eligible for affiliate payment of commissions. </p>
<p>If you enter <strong>60</strong> here, it means that only purchases made 60 days prior to today (or whenever you're actually running the affiliate commission payout report) will be eligible for commission payout.</p>
<p>The idea behind this is simple: Visa/Master/Amex/Paypal/etc give their card holders up to 60 days to get a refund or dispute their purchase. If you set this refund period to a shorter time period, say 30, then after 30 days after purchase, the affiliates will be eligible for payment, and will show up on the affiliate commission payout report. And if you end up paying the affiliates their commission, and if the buyer happens to come back after that and ask for a refund, you have no choice but to give the buyer their refund.</p>
<p>But since you have already paid commissions on this purchase that you just refunded, you may have to contact the affiliate and ask them to pay you back the commissions you already paid them. Not such a great thing to do as a seller. So it's better you wait until the official refund period is past, so that any purchases that are eligible for commission payout, are past the refund period, and the buyer can no longer come back to you after 60 days and ask for a refund, and even if they do, you <em>could</em> legally refuse.</p>
