<p>This secret key is required only if...</p>
<p>a) You're using ClickBank as your payment processor , or</p>
<p>b) You're using 1ShoppingCart / 1SiteAutomation and are trying to set up &quot;Login Xpress&quot; whereby buyers will be instantly logged in to your membership site upon complection of payment.</p>
<p>Doc: <a href="http://www.digitalaccesspass.com/doc/integrating-clickbank-via-ins/" target="_blank">Integrating with ClickBank</a></p>
<p>Doc: <a href="http://www.digitalaccesspass.com/doc/dap-1sc-login-xpress/" target="_blank">Login Xpress with 1ShoppingCart</a></p>
