<p>When this is set to &quot;N&quot;, all protected links that the viewer/member is not eligible to access &quot;yet&quot;, is removed from display (basically links are hidden from view - but content itself will continue to remain protected regardless of whether link shows up in the menu or not).</p>
<p>When <a href="http://DigitalAccessPass.com/documentation/?page=/doc/partial-content-protection-using-sneak-peek/" target="_blank">Sneak Peek</a> (a different config setting) is set to &quot;Y&quot;, all  links to all protected content will show up in the menus. BUT... turning on Sneak-Peek also means that ALL protected posts and pages will show the content body up to the WordPress &quot;more&quot; tag. Sometimes, you want to show links in the menu <em>without</em> turning on Sneak-Peek. </p>
<p>And that's exactly when this config item is going to come in handy.</p>
<p><strong>Default</strong>: N</p>
<p></p>
