<p>A descriptive name for your web site, that is used to replace the merge-tag %%SITE_NAME%% anywhere within your WordPress pages or posts, or even within emails.</p>
<p>For example: You may create an email autoresponder in DAP that has the subject line:</p>
<p>&quot;%%FIRST_NAME%%, welcome to %%SITE_NAME%%&quot;.</p>
<p>Of course, since you already know the name of your site, you don't have to really use the merge-tag %%SITE_NAME%% in any of your WP content or in emails. This is there &quot;just in case&quot; you need to use it.</p>
