<p>This is where you can show a part of your blog post for all casual visitors, and   then when they click on the &ldquo;Read more&hellip;&rdquo; link, the protection will kick   in for the rest of the post, and DAP will say something to the effect   of &ldquo;Sorry, you must be logged in to access this content. Please login   below or click here to get access&rdquo;.</p>
<p><a href="http://www.digitalaccesspass.com/doc/partial-content-protection-using-sneak-peek/" target="_blank">Documentation: Sneak-Peek</a></p>
